<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
<meta charset="UTF-8" />
<title>Festa em Casa</title>

</head>
<body>
	<section layout:fragment="content">

			<!-- <h1>Professor <span th:utext="${session.usuario.nome}">Description</span></h1> -->
			<h2>Festa em Casa</h2>
			<div class="container-fluid">
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/></div>
			
			<div class="d-flex justify-content-around">
			<div class="card w-50">
			  <div class="card-body">
			    <h5 class="card-title">Sala</h5>
			    <div class="d-flex justify-content-around flex-wrap cenario">
			    
			    	<div>
						<a th:href="@{/festa-em-casa/ligar-luz-jardim}" style=" border-radius: 15px">
						    <button type="submit" class="btn btn-primary">Ligar Luz</button>
						</a>
					</div>
				
					<div>
						<a th:href="@{/festa-em-casa/desligar-luz-jardim}" style=" border-radius: 15px">
						    <button type="submit" class="btn btn-primary">Desligar Luz</button>
						</a>
					</div>
					
					<div>
						<a th:href="@{/festa-em-casa/ligar-piscina-jardim}" style=" border-radius: 15px">
						    <button type="submit" class="btn btn-primary">Ligar Piscina</button>
						</a>
					</div>
	
			    <div>
						<a th:href="@{/festa-em-casa/desligar-piscina-jardim}" style=" border-radius: 15px">
						    <button type="submit" class="btn btn-primary">Desligar Piscina</button>
						</a>
					</div>
			
			 
			</div>
			
		</div>
	</div>

			</div>
	
			
		</div>
	</section>

</body>
</html>