    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="#" th:href="@{/css/login.css}"/>
    <title>Log in.</title>
    <!-- include css in the header -->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
            <div id="iosBlurBg">
                <div id="whiteBg"></div>
            </div>
            <div id="bottomEnter"></div>
            <div id="bottomBlurBg"></div>
            <!-- Login Form -->
            <div class="loginForm">
                <div class="title">
                    <p>LOG IN<br><span>CADERNETA-3JA</span></p>
                    <hr>
                    <hr class="short">
                </div>
                <form name="f" th:action="@{/login}" method="post">
                    <div class="col-3">
                        <input class="effect-2" type="text" name="email" placeholder="Login...">
                        <span class="focus-border"></span>

                        <input class="effect-2" type="password" name="senha" placeholder="Password...">
                        <span class="focus-border"></span>
                    </div>

                    <div class="forget">
                        <button class="btn btn-default btn-sm" type="submit">Entrar..</input>

                    </div>

                </form>
            </div>
            <a href="">
                <div class="enterButton">
                    <i class="fa fa-lock fa-2x text-white"></i><br>
                    <span class="enterText text-white">Entrar</span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
